.SongsTable {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__search {
    padding-bottom: 1rem;
    max-width: 600px;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }
  thead {
    .SongsTable__tr {
      position: sticky;
      top: 0;
      background: var(--color-component-background-darken);
    }
  }
  &__th {
    text-align: left;
    padding: 0.25rem 0.5rem;
  }
  tbody {
    .SongsTable__tr {
      td {
        padding: 0.25rem 0.5rem;
      }
      background: var(--color-component-background);
      &:nth-child(even) {
        background: var(--color-component-background-alt);
      }
    }
  }
}
