.Setlist {
  margin: 0.5rem;
  &__droppable {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgb(241, 241, 241);
    &--is-dragging-over {
      background: rgb(230, 230, 230);
    }
  }
  &__popover {
    background: white;
    border-radius: 0.5rem;
  }
}
