.Dial {
  height: 1.5rem;
  width: auto;
  padding-bottom: 0.25rem;
  * {
    fill: grey;
  }
  &--ballad {
    * {
      fill: rgb(29, 118, 148);
    }
  }
  &--burner {
    * {
      fill: red;
    }
  }
}
