.Dial {
  height: 1.5rem;
  width: auto;
  padding-bottom: 0.25rem;
  * {
    fill: var(--color-text-subdued);
  }
  &--ballad {
    * {
      fill: var(--color-secondary);
    }
  }
  &--burner {
    * {
      fill: var(--color-danger);
    }
  }
}
