.FeelTag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  width: min-content;
  &--latin {
    background: lightblue;
    color: darkblue;
  }
  &--country {
    background: lightpink;
    color: darkred;
  }
  &--swing {
    background: lightgreen;
    color: darkgreen;
  }
  &--blues {
    background: blue;
    color: white;
  }
  &--rock {
    background: red;
    color: white;
  }
  &--funk {
    background: green;
    color: white;
  }
  &--other {
    background: darkgrey;
    color: white;
  }
}
