.SetlistRoute {
  height: 100%;
  &__droppable {
    margin: 0.5rem;
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
