.SetlistForm {
  flex-grow: 1;
  background: var(--color-component-background);
  color: var(--color-text);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  max-width: 600px;
  margin: 1rem;
  label,
  input {
    cursor: pointer;
  }
}
