.Header {
  background: var(--color-component-background);
  box-shadow: var(--box-shadow);
  &__hamburger-btn {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    text-decoration: none;
    color: grey;
    font-size: 1.25rem;
    text-transform: capitalize;
    &--is-active {
      color: var(--color-text);
    }
    &:hover {
      color: var(--color-text);
    }
  }
}
