.SongDisplay {
  background: white;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  margin: 0.25rem 0;
  &--is-editing {
    outline: 2px solid lightblue;
  }
  &__popover {
    background: white;
    border-radius: 0.5rem;
  }
  &__name {
    font-weight: bold;
    span {
      font-size: 0.8rem;
    }
  }
  &__cover {
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
    font-size: 0.75rem;
  }
}
