:root {
  --app-height: 100%;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

  --color-background: #f3f3f3;
}

.App {
  background: var(--color-background);
  height: 100vh;
  height: var(--app-height);
  isolation: isolate;
}
