:root {
  --app-height: 100%;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

  --test-color: #313131;

  --color-background: #f3f3f3;
  --color-component-background: #ffffff;
  --color-component-background-alt: #e6e6e6;
  --color-component-background-darken: #cbcbcb;
  --color-text: #000000;
  --color-text-subdued: #808080;

  --color-success: #90ee90;
  --color-success-text: #008000;
  --color-danger: #ff4400;
  --color-secondary: #79b6ca;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
label,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
